.leftnav {
    color:#777;
}

.leftnav:hover {
    color:#000;
}

.leftnav_1 {
    font-size:1.1em;
    padding-top:5px;
    padding-bottom:5px;
}

.leftnav_1.active {
    font-weight:bold;
	color:#333;
}

.leftnav_2 {
    padding-left:20px;
	color:#888;
}

.leftnav_2.active {
    font-weight:bold;
    border-left:solid;
    border-width:2px;
	border-color:#444;
	color:#333;
}

.config_title {
    font-size:2em;
    font-weight:bold;
    padding-bottom:15px;
}

.config_sub_title {
    font-size:1.2em;
    font-weight:bold;
}

.config_table thead{
    font-weight:bold;
}

.config_table > tbody > tr > td:first-child{
    font-weight:bold;
    color:#666;
}

.matched {
    font-weight:bold;
    color:#337AB7;
}

.config_test_container {
    padding-left:0;
	padding-right:0;
	margin-bottom:15px;
}

.config_test_output {
    font-size:1.4em;
}

.no_break {
    white-space: nowrap;
}

.status_info_title{
    font-size:1.2em;
}

.status_info_value{
    font-size:1.2em;
    color:#AAA;
	margin-left:20px;
	font-weight:bold;
}

.status_group_title {
    font-size:1.5em;
	font-weight: bold;
	margin-bottom:12px;
	display:inline-block;
}

.status_group_title_desc {
    font-weight:bold;
	display:inline-block;
	color:#BBB;
}

.status_sub_group_title {
    font-size:1.2em;
	font-weight: bold;
	margin-top:8px;
	margin-bottom:8px;
	display:inline-block;
}

.status_sub_group_title_desc {
    font-weight:bold;
	color:#BBB;
	display:inline-block;
}

.status_color_mark {
	width:14px;
	height:14px;
	display:inline-block;
	border-radius:3px;
    text-align:center;
}

.status_color_desc {
    color:#999;
}

.status_modal_row {
    margin-top:15px;
	margin-bottom:15px;
}

.vn_modal_mid {
    width:400px;
}

.tips_container {
    margin-right:5px;
    padding:5px;
    border:solid;
    border-color:lightgray;
    border-width:1px;
    border-radius:5px;
	margin-bottom:20px;
}

.tips_tips {
    color:#BBB;
    font-size:0.9em;
}

.tips_title {
    font-size:0.9em;
    font-weight:bold;
}

.tips_content {
    font-size:0.8em;
    font-color:gray;
}

.tips_content ul {
    padding-left:20px;
}

#interface_login {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

.summary_url_table th { 
    font-size: 14px;
    font-weight: normal;
    color: #777;
}
