.leftnav {
    color:#777;
}

.leftnav:hover {
    color:#000;
}

.leftnav_1 {
    font-size:1.1em;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
}

.leftnav_2 {
    font-size:0.9em;
    padding-left:20px;

}

.config_title {
    font-size:2em;
    font-weight:bold;
}
