.btn_up,.btn_down{
    color:#337CB3;
}
.btn_edit{
    color:#337CB3;
}
.btn_del{
    color:#337CB3;
}

.leftnav {
    color:#777;
}

.leftnav:hover {
    color:#000;
}

.leftnav_1 {
    font-size:1.1em;
    padding-top:5px;
    padding-bottom:5px;
}

.leftnav_1.active {
    font-weight:bold;
    color:#333;
}

.leftnav_2 {
    padding-left:20px;
    color:#888;
}

.leftnav_2.active {
    font-weight:bold;
    border-left:solid;
    border-width:2px;
    border-color:#4078c0;
    color:#4078c0;
}

.config_title {
    font-size:2em;
    font-weight:bold;
    margin-bottom:10px;
}

.config_title_2 {
    font-size:1.2em;
    font-weight:bold;
	margin-bottom:10px;
}

.config_sub_title {
    font-size:1.2em;
    font-weight:bold;
	margin-top:15px;
	margin-bottom:10px;
}

.config_table thead{
    font-weight:bold;
}

.config_table > tbody > tr > td:first-child{
    font-weight:bold;
    color:#666;
}

.config_matcher_block{
    border-width: 1px;
	border-style:solid;
    border-radius: 5px;
	padding-right:5px;	
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
	margin-left:5px;
	border-color:#CCC;
	background-color:#F5F5F5;
    position:relative;
	display:inline-block;
}

.config_matcher_block_type{
	padding-left:5px;
	padding-right:3px;
    font-weight:bold;
	display:inline-block;
}

.config_matcher_block_operator{
    font-weight:bold;
	color:#999;
	font-family:Times;
}

.config_matcher_block_value{
    color: #555;
    word-break: break-word;
}

.config_matcher_block_btn_delete{
    float:right;
	margin-left:5px;
	margin-top: 2px;
    margin-right: 2px;
    color: #666;
}

.config_node_block_weight{
    color: #888;
}

.matched {
    font-weight:bold;
    color:#337AB7;
}

.config_test_container {
    padding-left:0;
    padding-right:0;
    margin-bottom:15px;
}

.config_test_output {
    font-size:1.4em;
}

.config_test_sub_output {
    font-size:1.2em;
    color:#BBB;
}

.config_form_line{
    padding-top:5px;
}

.config_card{
    background-color:#F0F0F0;
    border:solid;
	border-width:1px ;
	border-radius:3px;
	border-color:#CCC;
    display:inline-block;
	margin-left:5px;
	margin-right:5px;
	padding-left:3px;
	padding-right:3px;
}

.editing {
    background-color:#EEE;
}

.no_break {
    white-space: nowrap;
}

.monitor_container{
    position:relative;
}

.status_info_title{
    font-size:1.2em;
}

.status_info_value{
    font-size:1.2em;
    color:#AAA;
    margin-left:20px;
    font-weight:bold;
}

.status_group_title {
    font-size:1.5em;
    font-weight: bold;
    margin-bottom:12px;
    display:inline-block;
}

.status_group_title_desc {
    font-weight:bold;
    display:inline-block;
    color:#BBB;
}

.status_sub_group_title {
    font-size:1.2em;
    font-weight: bold;
    margin-top:8px;
    margin-bottom:8px;
    display:inline-block;
}

.status_sub_group_title_desc {
    font-weight:bold;
    color:#BBB;
    display:inline-block;
}

.status_color_mark {
    width:14px;
    height:14px;
    display:inline-block;
    border-radius:3px;
    text-align:center;
}

.status_color_desc {
    color:#999;
}

.vn_modal_mid {
    width:400px ;
}

.vn-config-box {
    max-width:700px;
	margin-top:15px;
}

.vn-config-label {
    text-align:right;
	margin-top:5px;
}

.tips_container {
    margin-right:5px;
    padding:5px;
    border:solid;
    border-color:lightgray;
    border-width:1px;
    border-radius:5px;
    margin-bottom:20px;
}

.tips_tips {
    color:#BBB;
    font-size:0.9em;
}

.tips_title {
    font-size:0.9em;
    font-weight:bold;
}

.tips_content {
    font-size:0.8em;
    font-color:gray;
}

.tips_content ul {
    padding-left:20px;
}

#config_bottom_bar {
    position:fixed;
	bottom:0px;
	background:rgba(0,0,0,0.6);
	color:#fff;
	width:100%;
	height:45px;
}

#config_bottom_bar_message {
    display:inline-block;
	font-size:1.2em;
	margin-left:10px;
	margin-top:10px;
	font-weight:lighter;
}

#config_bottom_bar_btns {
    display:inline-block;
	margin-right:20px;
	margin-top:7px;
}

.bottom_bar_btn {
    border-color:#fff;
	background-color:rgba(0,0,0,0);
	color:#fff;
}

.bottom_bar_btn_save {
    font-weight:bold;
}

.notice{
    font-size:1.2em;
    border-style:solid;
    border-left-width:3px;
    border-right-width:1px;
    border-top-width:1px;
    border-bottom-width:1px;
    padding:5px;
    border-color:#ddd;
    color:#999;
    border-radius:3px;
    margin-top:15px;
}

.editing_rule_name{
	font-weight:bold;
	color:#333;
}

#interface_login {
    width:500px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

#about_title {
    font-size:4em;
    color:#CCC;
}

#about_sub_title {
    font-size:1.5em;
    color:#333;
}

#about_sub_btn_container {
    text-align:center;
    margin-top:30px
}

#about_sub_btn {
    float: none;
    margin: 0 auto;
    font-size: 1.8em;
    color: #999;
    font-weight: lighter;
    border: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 5px;
    transition: all 0.5s;
}

#about_sub_btn:hover {
    color:#337AB7;
    border-color:#337AB7;
    text-decoration:none;
}

.summary_url_table th { 
    font-size: 14px;
    font-weight: normal;
    color: #777;
}

.summary_url_table td {
    word-break: break-word;
}

.summary_sub_title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.vn-has-error {
    border-color: #a94442;
}

.vn-has-error:focus {
    border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.vn_summary_detail_btn {
	border-color:#bbb;	
	color:#bbb;	
	background-color:#fff;	
}

.vn_summary_detail_btn:hover {
	border-color:#4078c0;	
	color:#4078c0;	
	background-color:#fff;	
}

.vn_summary_detail_popover_table {
}

.vn_summary_detail_popover_table td {
    padding-right:8px;
}

.vn_summary_detail_popover_count {
    color:#666;
	font-weight:bold;
}

.vn_summary_detail_popover_rate {
    color:#888;
}

#config_modal_matcher_input_group .input_group_container{
	margin-top:10px;
	margin-bottom:10px;
	padding:5px;
	border:solid;
	border-width:1px;
	border-color:#4078c0;
	border-radius:10px;
}

#config_modal_matcher_input_group .input_group_title{
	font-weight: bold;
	padding-left: 30px;
	padding-bottom: 5px;
	margin-top: -15px;
	color:#4078c0;
}

#config_modal_matcher_input_group .input_item{
	margin-bottom:10px;
}

#config_modal_matcher_input_group .input_item_title{
	font-weight:bold;
	text-align:right;
}

#config_modal_matcher_input_group .input_item_inputer{
}
