.leftnav {
    color:#777;
}

.leftnav:hover {
    color:#000;
}

.leftnav_1 {
    font-size:1.1em;
    font-weight:bold;
    padding-top:5px;
    padding-bottom:5px;
}

.leftnav_2 {
    padding-left:20px;
}

.config_title {
    font-size:2em;
    font-weight:bold;
    padding-bottom:15px;
}

.no_break {
    white-space: nowrap;
}
